<html>
<head>
    <title> WEB PAGE</title>
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<link rel="stylesheet" href="../public/css/bootstrap-grid.css">
<link rel="stylesheet" href="../public/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
">


<link rel="stylesheet" href="../public/css/bootstrap-grid.rtl.min.css">

<link rel="stylesheet" href="../public/css/bootstrap-utilities.css">

<link rel="stylesheet" href="../public/css/bootstrap-utilities.rtl.min.css">

<link rel="stylesheet" href="../public/css/style.css">

<body>
    <nav  class="navbar navbar-dark bg-dark">
        
          <a class="navbar-brand">Internexus </a>
            <ul class="navbar justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Services</a>
              </li>
            </ul>
        
    </nav>

   
    <div id="ansh">

      <h1 id="siddhi"> Hello, I’m Johnson smith</h1>
      <br>
      <p id="anshtyagi"> I love to work in User Experience & User Interface designing.<br>
        Because I love to solve the design 
        problem and find easy and bettersolutions to solve it<br>.I always try my best to make good user interface
        with the best user experience</p>

        <button style="margin-left: 110px;" type="button" class="btn btn-dark btn-lg">My Work</button>
        <button  type="button" class="btn btn-dark btn-primary btn-lg"> Hire me</button>

    </div>
    <div class="container">
<div class="row container">
    <div class="col-4">
      <img id="atv" src="../public/images/1.jpg"  >

    </div>
    <div id="atv" class="col-8" style="margin-bottom: 200px;">
      <h1> I'm a Passionate designer & developer who loves simplicity 
        in things and crafts beautiful user interfaces with love.</h1>
        <br>
        <p style="font-size: large"> ipsum dolor sit, amet consectetur adipisicing elit. 
          Amet non porro laboriosam rerum fugiat quod ullam earudignissimos 
          corporis, nemo provident nostrum, nihil culpa. Et corrupti sit hic 
          amet, animi unde cumque consequuntur omnis ad nihil optio id eum qui,
     impedit deleniti?  Veniam eum aspernatur incidunt? Doloremque, cum? Repellendus 
     consectetur, cupiditate tenetur provident neque, quas, totam eveniet nisi eius 
     veritatis ea maiores ducimus a reprehenderit minima magnam dicta! Aliquam libero 
     voluptatum facilis dolorum architecto? Doloribus fuga voluptate
           voluptatem corporis rem! Culpa nam et accusamus beatae! </p>
           <button  type="button" class="btn btn-dark btn-lg">About me</button>
      
           
           

    
    </div>

    <div id="three" class="d-flex justify-content-center">
      <div class="row">

        <div class="col-4">

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Web design</h5>
              
              <p class="card-text">Lorem ipsum dolor amet consecutor adipicsing elet. 
                Debitis nam,minima iste molestias</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


        </div>

        
        <div class="col-4">

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Mobile apps</h5>
              
              <p class="card-text">Lorem ipsum dolor amet consecutor adipicsing elet. 
                Debitis nam,minima iste molestias</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


        </div>

        
        <div class="col-4">

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Animated Design</h5>
              
              <p class="card-text">Lorem ipsum dolor amet consecutor adipicsing elet. 
                Debitis nam,minima iste molestias</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


        </div>

       

        
      </div>

    

    </div>

    <div id="three" class="d-flex justify-content-center">
      <div class="row">

        <div class="col-4">

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Photoshop media</h5>
              
              <p class="card-text">Lorem ipsum dolor amet consecutor adipicsing elet. 
                Debitis nam,minima iste molestias</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


        </div>

        
        <div class="col-4">

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Marketing Buisness</h5>
            
              <p class="card-text">Lorem ipsum dolor amet consecutor adipicsing elet. 
                Debitis nam,minima iste molestias</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


        </div>

        
        <div class="col-4">

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Development</h5>
              <p class="card-text">Lorem ipsum dolor amet consecutor adipicsing elet. 
                Debitis nam,minima iste molestias</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


        </div>

      
        
      </div>

    

    </div>

  </div>
  <div class="row">
<div class="col-4">
    <h1>I'm Available For Freelance Projects. </h1>
    <h4>Imagination is more important than knowledge </h4>
    <p id="st">Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
      Tempore minima doloribus provident, quia<br>
      ipsam totam veniam iste ea temporibus non<br>
       consequatur tenetur? Velit officiis laborum<br>
        molestias ratione impedit, totam, praesentium<br>
         a nulla fuga aliquam repellendus facilis consequuntur<br>
          corrupti cum delectus,<br>
      quia maiores accusamus animi obcaecati vel ipsum.</p>
    </div>
    <div class="col-4">
    <img  id="ate" style="col-8" src="../public/images/6.jpg">
    
         <img id="ata" src="../public/images/5.jpg" >
       </div>

      


    </div>

   
    
    </div>
   

  </div>
  <div>
    
    
       <div>
  
    
  
      
 
  
  


 
      </div>  
      
  
      <div id="footer">
        <div class="row">
          <div class="col-6">

        <p id="footerText">© 2020 Eccentric Portfolio. All Rights Reserved | Design by W3layouts</p>

      </div>
        <!-- <a href="#" class="fa fa-facebook"></a> -->
        <div id="ft" class="col-4">
        <i style="color: white;" class="fa fa-youtube "></i> 

         <i style="color: white;"  class="fa fa-instagram "></i> 
        </div>
      </div>
  
      </div>
            
        
</body>
<script> src="../public/js/bootstrap.bundle.js"</script>
<!-- <script src="../public/js/bootstrap.bundle.js.map">  </script> -->
<script src="../public/js/bootstrap.bundle.min.js"> </script>
<!-- <script src="../public/js/bootstrap.bundle.min.js.map"> </script> -->
<!-- <script src="../public/js/bootstrap.esm.js"> </script> -->
<!-- <script src="../public/js/bootstrap.esm.js.map"> </script> -->
<!-- <script src="../public/js/bootstrap.esm.min.js"> </script> -->
<!-- <script src="../public/js/bootstrap.esm.min.js.map"></script> -->
<script src="../public/js/bootstrap.js"> </script>
<!-- <script src="../public/js/bootstrap.js.map"> </script> -->
<script src="../public/js/bootstrap.min.js"> </script>
<!-- <script src="../public/js/bootstrap.min.js.map"> </script> -->
<script src="../public/js/jquer.js"> </script>













</html>










































